<!-- Include header -->
<%- include('include/_header') %>
<!-- Include header -->
<div id="container" class="d-flex justify-content-center mh-50">
    <canvas id="Chart" class="p-5 mx-auto my-auto"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    ids = [];
    frequency = [];

    // populate ids and frequency
    <% for(var i = 0; i < docs.length; i++) { %>
    <% if (docs[i]._id == null) { %>
    ids.push('null')
    <%} else { %>
    ids.push(<%= docs[i]._id %>)
    <% } %>
    frequency.push(<%= docs[i].count %>)
    <% } %>

    // console log the data for visualisation
    console.log(ids)
    console.log(frequency)
</script>

<script>
    //Bar chart
    const ctx = document.getElementById('Chart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            // ids as X data
            labels: ids, //ids
            datasets: [{
                label: 'Count of this number of beds',
                // frequency as Y data
                data: frequency,
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<!-- Include footer -->
<%- include('include/_footer') %>
<!-- Include footer -->