<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>SDD1003 Projet Final</title>
</head>

<body>

  <div>
    <nav class="navbar navbar-dark bg-primary">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">SDD1003 Projet Final</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
    </nav>
  </div>

  <div class="container mt-3">

    <!--Form that send data via POST method-->
    <!--That Form content a label, a search bar and a search button-->
    <form>
      <div class="form-group">
        <label for="bedroom">Bedroom</label>
        <input type="number" class="form-control" id="bedroom" placeholder="bedroom">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="minNight">Minimum Night</label>
          <input type="number" class="form-control" id="minNight" placeholder="Minimum">
        </div>
        <div class="form-group col-md-6">
          <label for="maxNight">Maximum Night</label>
          <input type="number" class="form-control" id="maxNight" placeholder="Maximum">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" id="getdata" onclick="fetchData(event)">Find</button>
    </form>
    <table>
      <thead>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <script>
    async function fetchData(e) {
    e.preventDefault();

    const bedroom = document.getElementById("bedroom").value;
    const minNight = document.getElementById("minNight").value;
    const maxNight = document.getElementById("maxNight").value;

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/");
    let data = new FormData();
    data.append("bedroom", bedroom);
    data.append("minNight", minNight);
    data.append("maxNight", maxNight);
    xhttp.send(data);
    let c = await xhttp.responseText;
    console.log(c)

  }
  </script>
</body>

</html>