<div id="updateform" class="container mt-3">
    <!--Form that send data via POST method-->
    <!--That Form content a label, a search bar and a search button (find)-->
    <div class="form-group">
        <label for="query">Query</label>
        <input type="text" class="form-control" id="query" placeholder="Query">
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block" id="getdata" onclick="fetchData(event)">Delete
    </button>
    <br>
</div>