<div id="deleteform" class="container mt-3">
    <!--Form-->
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" placeholder="id">
    </div>

    <!--button-->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="getdata" onclick="fetchData(event)">Delete
    </button>
    <br>
</div>